# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other-FHV-services-jan-july15` and `lyft` tables in RideShareDB.Â These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in `other-FHV-services-jan-july15`. Do you see anything that is a common abbreviation at the end of business names? E<span style="background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.87); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; caret-color: rgba(0, 0, 0, 0.87);">nding in 'INC' or 'CORP'</span>

In [2]:
--there is no other-FHV-services-jan-july15 in RideShareDB; Using 'other_FHV_services_jan_aug_2015'
SELECT TOP 5 *
FROM other_FHV_services_jan_aug_2015;

Base_Number,Base_Name,Pick_Up_Date,Number_of_Trips,Number_of_Vehicles
B00013,LOVE CORP CAR INC,2015-01-01,26,17
B00014,NY ONE CORP CAR INC,2015-01-01,45,24
B00029,COMMUNITY CAR SVC CORP,2015-01-01,731,36
B00053,CHARGE AND RIDE INC,2015-01-01,10,9
B00095,LIBERTY CAR SERVICE INC.,2015-01-01,814,62

In [3]:
--Changed to 4 characters to include periods and the C in Corp. Most of the Base Names end in 'INC'
SELECT TOP 5 
RIGHT (Base_Name,4) AS 'Suffix'
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

Suffix
INC
INC
CORP
INC
INC.

The number of trips and the number of pickups are both stored as strings in `other-FHV-services-jan-july15`. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.

In [4]:
--There is no column 'number of pickups' in  'other_FHV_services_jan_aug_2015'
SELECT TOP 5
CHARINDEX(' ',Number_of_Trips) as 'Index_Location'
FROM other_FHV_services_jan_aug_2015;

Index_Location
3
3
4
3
4

## Date Functions

For ``other-FHV-services-jan-july15``, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?

In [5]:
SELECT TOP 5 
DATENAME(MONTH, Pick_Up_Date) as Month
FROM other_FHV_services_jan_aug_2015
ORDER BY Pick_Up_Date DESC;

Month
August
August
August
August
August

Using `other-FHV-services-jan-july15`, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.

In [6]:

SELECT TOP 5
DATEPART(DAY, Pick_Up_Date) AS Day,
DATENAME(MONTH, Pick_Up_Date) AS Month
FROM other_FHV_services_jan_aug_2015
ORDER BY [day] ASC;

Day,Month
1,January
1,January
1,January
1,January
1,January

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [7]:
SELECT 
MIN (start_lng) AS 'Most_Easterly_Pickup'
FROM lyft

Most_Easterly_Pickup
-74.22689

Write a query the returns the most northerly Lyft pickup.

In [8]:
SELECT 
MAX (start_lat) AS 'Most_Northerly_Pickup'
FROM lyft

Most_Northerly_Pickup
40.93562

Using ``other-FHV-services-jan-july15``, write a query that connects the the base number and the base name in a string that uses the following format: base\_number: base\_name.

In [9]:

SELECT TOP 5
CONCAT (Base_Number,':',Base_Name ) AS 'Base_Number:Base_Name'
FROM other_FHV_services_jan_aug_2015

Base_Number:Base_Name
B00013:LOVE CORP CAR INC
B00014:NY ONE CORP CAR INC
B00029:COMMUNITY CAR SVC CORP
B00053:CHARGE AND RIDE INC
B00095:LIBERTY CAR SERVICE INC.